{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions List</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .transaction-table th, .transaction-table td {
        vertical-align: middle;
      }
      .form-footer { display: flex; justify-content: flex-end; }
    </style>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      <div class="container">
        {% block content %}Контента пока нет :({% endblock %}
      </div>
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
