{% extends "base.html" %}
{% load static %}
{% block title %} Транзакции {% endblock %} 
{% block content %}
<h1 class="center-align mb-4">Transactions</h1>
<!-- Filter Form -->
<div class="card mb-4">
  <div class="card-content">
    <span class="card-title">Filter Transactions</span>
    <form id="filter-form">
      <div class="row">
        <div class="input-field col s12 m3">
          <input
            type="text"
            class="datepicker"
            id="start-date"
            name="start-date"
          />
          <label for="start-date">Start Date</label>
        </div>
        <div class="input-field col s12 m3">
          <input type="text" class="datepicker" id="end-date" name="end-date" />
          <label for="end-date">End Date</label>
        </div>
        <div class="input-field col s12 m3">
          <select id="category" name="category">
            <option value="" selected>All</option>
            <option value="income">Income</option>
            <option value="expense">Expense</option>
            <!-- Add more categories as needed -->
          </select>
          <label for="category">Category</label>
        </div>
        <div class="input-field col s12 m3">
          <button type="submit" class="btn waves-effect waves-light w-100">
            Filter
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Add Transaction Button -->
<div class="right-align mb-4">
  <a
    href="{% url 'transactions:upload_pdf' %}"
    class="btn waves-effect waves-light green"
    id="add-transaction-btn"
  >
    <i class="material-icons left">add</i> Загрузить транзакции из файла
  </a>
  <a
    href="{% url 'transactions:create' %}"
    class="btn waves-effect waves-light green"
    id="add-transaction-btn"
  >
    <i class="material-icons left">add</i> Добавить транзакцию
  </a>
</div>

<!-- Transactions Table -->
<div class="card">
  <div class="card-content">
    <span class="card-title">Список транзакций</span>
    <div class="responsive-table">
      <table class="highlight">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Описание</th>
<!--            <th>Category</th>-->
<!--            <th>Type</th>-->
            <th>Сумма</th>
            <th>Номер карты</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
<!--            <td>{{ transaction.category }}</td>-->
<!--            <td>{{ transaction.get_type_display }}</td>-->
            <td>
              {{ transaction.amount }}
              {{ transaction.currency.code }}
            </td>
            <td>
              {{ transaction.card }}
            </td>
            <td>
              <a
                href="{% url 'transactions:edit' transaction.id %}"
                class="btn-small amber darken-2 modal-trigger"
                >Edit</a
              >
              <a
                href="{% url 'transactions:delete' transaction.id %}"
                class="btn-small red darken-2"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
